{% extends "base.html" %}
{% block content %}
<form action="" method="post" id="login-form" class="flex flex-col max-w-100 mx-auto gap-2">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="username">Username</label>
    <input class="border-black border-2 rounded-sm" type="text" id="username" name="username" required>
    <label for="password">Password</label>
    <input class="border-black border-2 rounded-sm" type="password" name="password" id="password">
    <label for="remember_me">Remember me</label>
    <input class="w-min" type="checkbox" name="remember_me" id="remember_me">
    <button class="cursor-pointer border-2 border-black p-2 rounded-sm" type="submit">Login</button>
    <a href="{{ url_for('auth.reset_password_request') }}" class="cursor-pointer">Forgot your password? Click to reset it.</a>
</form>
<script>
    document.getElementById("login-form").addEventListener("submit", function( event )
    {
        var checkbox = this.querySelector("#remember_me");
        if ( checkbox )
        {
            if ( checkbox.checked === true )
            {
                checkbox.value = 1
            }
            else
            {
                checkbox.checked = true;
                checkbox.value = 0;
            }
        }
    });
</script>
{% endblock %}
