{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="password">Password</label>
        <input class="border-black border-2 rounded-sm" type="password" name="password" id="password">
        <label for="repeat_password">Repeat Password</label>
        <input class="border-black border-2 rounded-sm" type="password" name="repeat_password" id="repeat_password">
        <button class="cursor-pointer border-2 border-black p-2 rounded-sm">Change password</button>
    </form>
{% endblock %}