# Example env file, create your own called .flaskenv in the the root of the project folder
# Secret keys can be generated via generate_key.py
FLASK_APP=movie-recommendation-system.py
FLASK_DEBUG=1 # Disable in production
DB_SECRET_KEY=YOUR-SECRET-KEY
SECRET_KEY=YOUR-SECRET-KEY