@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme
{
    --color-willow-green-50: #f0f8ec;
    --color-willow-green-100: #e2f1da;
    --color-willow-green-200: #c4e4b4;
    --color-willow-green-300: #a7d68f;
    --color-willow-green-400: #89c969;
    --color-willow-green-500: #6cbb44;
    --color-willow-green-600: #569636;
    --color-willow-green-700: #417029;
    --color-willow-green-800: #2b4b1b;
    --color-willow-green-900: #16250e;
    --color-willow-green-950: #0f1a09;

    --shadow-s:
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000039,
    0 2px 4px #00000015;

    --shadow-m:
    inset 0 1px 2px #ffffff50,
    0 2px 4px #00000039,
    0 4px 8px #00000015;

    --shadow-l:
    inset 0 1px 2px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;
}